*{
    margin: 0;
    padding: 0;


}
.container{
    display: flex;
    gap: 100px;
    background: linear-gradient(rgba(26, 154, 156, 0.63),rgba(224, 220, 217, 0.082)) ;
    
}
.left{
  
   width: 720px;
    background-color: rgba(20, 51, 119, 0.1);
    height: 725px;
    img{
        margin-left: 150px;
        margin-top: 230px;
        height: 300px;
    }

}

.right{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
   
    input{
        margin-top: 20px;
        width: 350px;
        height: 30px;
        border-radius: 5px;

    }
    
}
.check{
    display: flex;
    align-items: center;
    margin-left: -160px;
}
#rem{
    margin-left: -120px;
    margin-top: 20px;
}
label{
    color: rgba(13, 15, 13, 0.695);
    font-weight: 400;
    
}
button{
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(83, 83, 180, 0.871);
    color: bisque;

}
#checkbox{
    height: 20px;
}